.banner {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../images/background.png");
  background-position: center;
  background-size: cover;
  height: 400px;
  color: white;
  text-align: center;
  padding-top: 125px;
  line-height: 45px;
}

.banner h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
}
