.btn {
  font-family: 'Abril Fatface', cursive;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  background: rgba(255,255,255,0);
  padding: 13px 25px;
}

.btn:hover {
  border: 1.3px solid white;
  background: rgba(255,255,255,0.2);
}

